
body {
    font-family: 'Open Sans', sans-serif;
}

p{
    margin: 0;
    padding: 0;
}

.labels {
    font-size: 12px;
    color: #3B3B3B;
    font-weight: 600;
}

h2 {
    font-weight: bold;
    font-size: 25px;
    /*margin-top: 15px;
    padding-top: 15px;*/
    color: #1A5F37;
    //text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    //font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1px;
}

h3 {
    color: #99D347;
    font-family: Bebas-Neue;
    //border-radius: 3px;
    font-size: 15px;
    margin-top: 3px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 0;
    border-top: 1px solid #eaeaea;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"],
input [type="drop-down"] {
    width: 250px;
    border: 1px solid #CBCBCB;
    height: 40px;
    border-radius: 3px;
    padding: 12px;
    margin: 2px 0 13px 0px;
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url('~/Images/LSPJumboTronBG.png');
    background-image: url('../Images/LSPJumboTronBG.png');
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

input.Capitalize {
                text-transform:capitalize;
                
            }



.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .FileUploadWrapper iframe {
        position: relative;
        width: 100%;
        height: 300px;
}


button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    padding: 10px 40px;
    border: 1px solid #90C14B;
    background: #90C14B;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    margin-top: 20px;
    
}

    button, html input[type="button"], input[type="reset"], input[type="submit"]:hover {
        background-color: #99D347;
        border-color: #A4D65E;
    }

.LanguageSelectButtons label {
    padding: 10px 40px;
    background: #90C14B;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    display: inline;
    text-align: center;
    
}


.LanguageSelectButtons label:hover {
    background-color: blue;
}


.LanguageSelectButtons input {
    visibility: hidden;
}